@import '../../scss/mixins/index.scss';

.card {
    width: 100%;
    max-width: 255px;
    padding: 20px 23px 27px;
    border: 1px solid rgba(255, 255, 255, .2);
    opacity: 0;
    animation: rising 0.5s forwards;
    box-sizing: border-box;

    @include tablet {
        padding: 16px 0px 19px 15px;
    }

    @include mobile{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 24px 13px;
    }
}

.title {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 0;
    margin-bottom: 4px;

    @include tablet {
        margin-bottom: 6px;
        font-size: 8px;
        line-height: 16px;
        letter-spacing: 0.727273px;
    }

    @include mobile {
        margin-bottom: 0;
        margin-top: 6px;
    }
}

.info {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;

    @include tablet {
        font-size: 24px;
        line-height: 31px;       
        letter-spacing: -0.9px;
    }

    @include mobile {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.75px;
    }
}

@keyframes rising {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}