.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 22px 40px 27px 32px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.title {
    margin: 0;
    font-family: 'Antonio';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1.05px;
}