body {
  margin: 0;
  font-family: 'Antonio', 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #070724 url('./assets/images/background-stars.svg');
}

@font-face {
  font-family: 'Antonio';
  font-style: normal;
  src: url(./assets/fonts/Antonio.ttf) format('truetype-variations'),
  url(./assets/fonts/Antonio.ttf) format('truetype');
}

@font-face {
  font-family: 'Spartan';
  font-style: normal;
  src: url(./assets/fonts/Spartan.ttf) format('truetype-variations'),
  url(./assets/fonts/Spartan.ttf) format('truetype');
}
